.fake-box {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    padding: 3rem;
    /* border: 1px solid #000; */
}

.fake-box article {
    padding: 1rem;
}

.fake-box:before, .fake-box:after {
    position: absolute;
    display: block;
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    border: 1px solid #000;
    content: '';
}

.fake-box:after {
    left: 20px;
    top: 20px;
    border: 1px solid #000;
}

/* task 2 */
.info-box {
    display: inline-block;
    width: 30%;
    margin: 0.5rem;
    padding: 0.2rem;
    border: 1px solid #000;
    box-shadow: 7px 7px 11px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 11px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 11px 1px rgba(0,0,0,0.75);
}
